body, html{
  height: 100%;
}

body{
  margin: 0px;
  background: url("img/dancefloorbackground.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color:#444;
  width: 100%;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  width: 200px;
  height: 200px;
  background: yellow;
  border-radius:50px;
  display: inline-block;
}
.color {
  top: 50px !important;
  left:50px !important;
  height: 150px;
  display: inline-block;
  position:absolute !important;
}
.blinky{
  width: 200px;
  height: 200px;
  display: block;
  position: relative;
}
.disco {
  position: absolute !important;
}

