body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image: url("img/dancefloorbackground.jpg");
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  width: 100px;
  height: 100px;
  background: red;
  border-radius:50px;
  position:absolute;
}
.color {
  width: 100px;
  height: 100px;
  background-color: green;
  position:absolute;
}
